<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/shop-homepage.css}"/>

    <!--chart-->
    <link href="css/chart/chart.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript"  th:inline="javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
      var d=/*[[${dataList}]]*/  ;
        var data = google.visualization.arrayToDataTable(d);

        var options = {
          title: /*[[${city}]]*/,
          curveType: 'function',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
</head>
<body>

<div th:replace="index :: copy"></div>

<form id="show" method="get" action="/showchart">
    Podaj nazwę miasta:<br/>
    <input type="text" name="name" placeholder="city name"/>
    <br/>
    <button type="submit">Print Chart</button>
</form>

<div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>